ul.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333;
}
ul.nav>li {
  float: left;
}
ul.nav>li a {
  display: block;
  padding: 8px;
  color: white;
  text-align: center;
  background-color: #dddddd;
}
ul.nav>li a:hover {
  background-color: #111;
}
li.active {
  background-color: #33FF00;
}
