@font-face {
  font-family: 'Mindusfont';
  src: url('notmyfontistolethisfromanukesgithub.ttf');
}
ul.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul.nav>li {
  float: left;
}
ul.nav>li a {
  display: block;
  padding: 8px;
  text-align: center;
  color: white;
  background-color: #555555;
  text-decoration: none;
}
ul.nav>li a:hover {
  background-color: #111;
}
* {
  font-family: 'Mindusfont';
}
