@font-face {
  font-family: 'Mindusfont';
  src: url('mindusfont.ttf');
}
* {
  font-family: 'Mindusfont';
  font-size: medium;
  outline: none;
}
a {
  outline: 0;
}
ul.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-top: 2px;
  position: sticky;
  overflow: auto;
}
ul.nav>li {
  float: left;
}
ul.nav>li a {
  display: block;
  padding: 8px;
  text-align: center;
  text-decoration: none;
}
button {
  padding: 8px;
}
button:hover {
  color: orange;
}
button.wsbutton {
  border: 1px solid red;
  color: red;
}
button.wsbutton:hover {
  color: darkred;
}
textarea {
  resize: none;
}
div.autosavebar {
  z-index: 100;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 0;
  position: fixed;
  text-align: center;
  visibility: hidden;
  width: 100%;
  opacity: 0;
  border: 2px solid #3c763d;
  background-color: #5cb85c;
  transition: visibility 1s, opacity 1s;
}
div.autosavebar>p {
  color: #3c763d;
  background-color: #5cb85c;
}
.version {
  position: relative;
}
.version1 {
  color: #555;
  z-index: 99;
  bottom: 24;
  right: 0;
  margin: 0;
  padding: 0;
  position: fixed;
}
.version2 {
  z-index: 98;
  color: #555;
  bottom: 12;
  right: 0;
  margin: 0;
  padding: 0;
  position: fixed;
}
.version3 {
  z-index: 97;
  color: #555;
  bottom: 0;
  right: 0;
  margin: 0;
  padding: 0;
  position: fixed;
}